@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService authorizationService

@{
  var result = await authorizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}

@if(result.Succeeded)
{
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" asp-action="Index" asp-controller="DbManage" asp-area="Database">Database</a>
     <a class="dropdown-item" asp-action="Index" asp-controller="Contact" asp-area="Contact">Quản lý liên hệ</a>
          <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Quản lý Role(vai trò)</a>
     <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">Quản lý thành viên</a>

  </div>
</div>
}
