@model string

@{
    Layout ="_Layout";

}
<div class="card bg-primary text-white">
    <h1 class="card-header">xin chao @Model</h1>
    <h1 class="card-body">
        <p card-text>Ban dang tim hieu ve View</p>
    </h1>
</div>
@this.Path;